<configuration>
    <!-- Define an appender for HTTP requests -->
    <appender name="HTTP_REQUEST_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/applications/API/logs/request.log</file> <!-- Specify the path to the log file -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/var/log/applications/API/logs/request.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize> <!-- Specify the maximum file size -->
            <maxHistory>7</maxHistory> <!-- Specify the number of history files to keep -->
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{35} - %m%n</pattern> <!-- Customize the log format -->
        </encoder>
    </appender>
    <!-- Define an appender for HTTP responses -->
    <appender name="HTTP_RESPONSE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/applications/API/logs/response.log</file> <!-- Specify the path to the log file -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/var/log/applications/API/logs/response.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize> <!-- Specify the maximum file size -->
            <maxHistory>7</maxHistory> <!-- Specify the number of history files to keep -->
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{35} - %msg%n</pattern> <!-- Customize the log format -->
        </encoder>
    </appender>
    <!-- Attach the appenders to log HTTP requests and responses -->
    <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
        <appender-ref ref="HTTP_REQUEST_FILE"/>
    </logger>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.ResponseBodyAdvice">
        <appender-ref ref="HTTP_RESPONSE_FILE"/>
    </logger>
</configuration>